.noteItem-container {
    padding: 10px 20px;
    .noteItem {
        div{
            padding: 5px 0;
            label{
                color: #fff;
            }
            input{
                // outline: none;
                background: #463e3e;
                border: none;
                margin: 0 20px;
                
                color: #fff;
                width: 650px;
            }
        }
    }

    textarea {
        min-width: 500px;
        max-width: 100%;
        min-height: 270px;
        max-height: 270px;
        width: 100%;
        background: #463e3e;
        color: #fff;
        border: none;
        // outline: none;
    }
}